.selleraccount {
    margin-top: 8%;
    margin-bottom: 8%;
} 

.itemsaccount {
    margin-top: 8%;
    margin-bottom: 8%;
}

.paymentaccount {
    margin-top: 8%;
    margin-bottom: 8%;
}

.profile-info {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.banner {
    margin: 0%;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
}

#profile_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: auto;
    border-radius: 100%;
    border-style: solid;
}


.itemsold {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.container {
    max-width: 80%;
}

.upgradepopup {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.singleUpgrade {
    padding:10px;
    border-radius: 8px;
    margin-top: 10px;
}

.webChecker {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.payChart {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.bills {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin:0%;
}

.wallet {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    background-image: none;
    width: auto;
    margin-top:20px;
}


#signin-img {
    margin-left:45%;
    height: 30px;
    width: auto;
}

@media screen and (max-width:900px) {
    #signin-img {
        margin-left:5%;
        height: 30px;
        width: auto;
    }
}